<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/workspace/exercise-collaborative-html-website/website1/assets/css/style.css">
</head>

<body>
    <div class="container">
        <div class="margin-top">
        <h2 class="px-5 mx-5"><img src="/workspace/exercise-collaborative-html-website/website1/assets/img/1.jpg" width="250"
                height="250" class="derecha rounded-circle" alt="1"></img>The first heading<small class="text-muted"> Will Catch Your Eye</small>
        </h2>
        <p class="px-5 mx-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore esse omnis eum, labore harum iure. Voluptate quidem hic quam minus voluptas labore maxime dolorem ducimus sint, id culpa veniam dolore.</p>
            </div>
        </div>
</body>

</html>