html body{
    margin: 0;
    padding:0;
    height: 100%;

}
body{
	background-image: url("../img/bg.jpg");
	 background-repeat: no-repeat;
	  background-size: cover; 
      background-position: center center fixed;
      background-attachment: fixed;


	  }